# Target Config
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y

# Set firmware size
CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=1024

# Firmware Type
# CONFIG_GRUB_CONSOLE is not set
# CONFIG_GRUB_IMAGES is not set
CONFIG_GRUB_EFI_IMAGES=y
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_VMDK_IMAGES=y

# Base System
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SYSLOG_INFO=y

# USB Storage Drivers
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-wdm=y

# Wireless Card Firmware
CONFIG_PACKAGE_kmod-ath9k=y
CONFIG_PACKAGE_kmod-ath10k=y

# System Utilities
CONFIG_PACKAGE_autocore-x86=y
CONFIG_PACKAGE_btrfs-progs=y
CONFIG_PACKAGE_diffutils=y
CONFIG_PACKAGE_mkf2fs=y
CONFIG_PACKAGE_node=y

# SD Card Support
CONFIG_PACKAGE_kmod-sdhci=y

# Ethernet Support
CONFIG_PACKAGE_kmod-igc=y

# VMware Support
CONFIG_PACKAGE_open-vm-tools=y
CONFIG_PACKAGE_open-vm-tools-fuse=m

# Virtualization
CONFIG_PACKAGE_kmod-kvm-amd=y
CONFIG_PACKAGE_kmod-kvm-intel=y
CONFIG_PACKAGE_kmod-kvm-x86=y
